*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-color: #050505;
}
.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 5s linear infinite;
    /* animation: cube 3s linear infinite; */
}

@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    position: absolute;
    border: 1px solid black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#BFF098,#6FD6FF) ;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    box-shadow: 0 0 120px rgba(16, 240, 236, 0.2 );
}
.top{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#BFF098,#6FD6FF);
    height: 300px;
    width: 300px;
    transform: rotateX(90deg) translateZ(150px);
}
.top::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: linear-gradient(#BFF098,#6FD6FF);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2);
}
